/*Recherches populaires*/
.popular {
  margin-top: -2.5rem;
  display: flex;
  left: 1rem;
}

.popular ul {
  list-style: none;
}

.popular p {
  color: #fff;
  margin-right: 12px;
  align-items: center;
}

.popular li, popular a {
  color: #fff;
  text-decoration: none;
  margin-right: 12px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all .2s ease-in-out;
}

.popular a{
  font-size: 100%;
  border: 1px solid #fff;
  border-radius: 30px;
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.popular li:hover, a:hover {
  background: #fff;
  color: #181818;
}

/*Responsive des recherches populaires*/

@media (max-width: 600px) {
  .popular {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .popular li {
    margin-top: 0.5rem;
    display: block;
    text-align: center;
  }
  .popular ul {
    margin-top: 1rem;
  }
}

/* --=x=-- SLIDER --=x=-- */

.slider {
	height: 100vh;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
}

.slider h1 {
  text-align: center;
  width: clamp(25rem, 30%, 32rem);
  color: white;
  font-weight: 700;
}

.slider h1 b {
  font-weight: 800;
  color: #ffc822;
}

.slider .search-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 1.75rem;
  border-radius: 50px;
  gap: 1.5rem;
  width: max(40%, 20.75rem);
  background-color: #181818;
  box-shadow: 0 0 40px #00000080;
}

.slider .search-bar svg {
  color: #FFC822;
  transform: scale(1.3)
}

.slider .search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  font-size: 1.05rem;
}

.slider .search-bar input::placeholder {
  color: #BEBEBE;
}

.slider .search-bar button {
  margin-left: auto;
  border: none;
  outline: none;
  background-color: #ffc822;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.slider .slider-slide {
  background-image: var(--bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  transition: .3s;
  opacity: 0;
}

.slider .slider-slide.active {
  opacity: .15;
}

.slider .slider-slide .text-box {
  opacity: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

